<!DOCTYPE html>
<html lang="th-TH" data-lang="th">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">


    <style>
        html,
        body {
            height: auto;
            width: 100%;
            padding: 0px;
            overflow-x: hidden;
        }

        body {
            position: relative;
            max-width: 1440px;
            margin: 0 auto;
            background: #fff;
            color: #75787b;
            font-family: AvenirNextLTW01-Medium;
            font-size: 16px;
            line-height: 24px;
            -ms-overflow-style: scrollbar;
        }

        .cookie-avl .cookie-wrapper {
            display: table;
        }

        .cookie-wrapper {
            display: none;
            position: fixed;
            max-width: 1440px;
            margin: 0 auto;
            top: 0px;
            width: 100%;
            padding: 10px 40px 8px;
            text-align: left;
            background-color: #00a4e0;
            z-index: 9999;
        }

        .main-header {
            position: fixed;
            max-width: 1440px;
            margin: 0 auto;
            width: 100%;
            background: #fff;
            z-index: 1000;
        }

        section,
        article {
            width: 100%;
            float: left;
        }

        article,
        aside,
        dialog,
        figure,
        footer,
        header,
        hgroup,
        nav,
        section {
            display: block;
        }

        /*header {
                height: 80px;
            }*/

        section intro-container {
            height: 687px;
        }

        section image-map {
            height: 688px;
        }

        .main-header .header-inner {
            width: 20%;
            float: left;
        }

        .main-header .nav-menu {
            width: 80%;
            display: block;
            float: left;
        }

        .main-header ul.main-nav {
            display: block;
            width: auto;
            /*margin-left: 30px;*/
        }

        .main-header .nav-menu ul li {
            display: inline-block;
            width: auto;
            position: relative;
            margin: 0;
        }

        .main-header ul.lan-select {
            display: block;
            width: auto;
            /*margin: 15px 0px;*/
            border-bottom: none;
            float: right;
            position: relative;
            padding: 0px 20px;
            text-align: center;
        }


        .main-header .nav-flexi .list-container .overlay {
            position: absolute;
            display: none;
            width: 100%;
            height: 100%;
            background: #f4f4f4;
            z-index: -9;
        }

        .main-header .order-2 {
            order: 2;
        }

        .main-header .order-3 {
            order: 3;
        }

        .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }

        .intro-container .image-container {
            position: relative;
            width: 100%;
        }

        .main-header .nav-flexi .list-container>.list-item {
            display: none;
        }


        img[loading="lazy"] {
            display: none;
        }
    </style>

    <script>
        var yViewableArea = window.innerHeight;
        if (window.innerWidth > 991) {
            yViewableArea = 100;
        } else if (window.innerWidth > 767) {
            yViewableArea = 50;
        } else {
            yViewableArea = 50;
        }
        var imagePosi = 0;

        function addLinktagforImage(val) {
            var sc = document.createElement("link");
            sc.setAttribute("href", val);
            sc.setAttribute("rel", "preload");
            sc.setAttribute("as", "image");
            document.getElementsByTagName("head")[0].appendChild(sc);
        }

        function InitialImageload(img) {

            //const images = document.querySelectorAll('img[loading="lazy"]');
            if (img.getAttribute('datasrc') != undefined && img.src != img.getAttribute('datasrc') && img.getAttribute('loading') != undefined && img.getAttribute('loading') == "lazy") {
                var device = "all";
                if (window.innerWidth > 991) {
                    device = "desktop";
                } else if (window.innerWidth > 767) {
                    device = "tablet";
                } else {
                    device = "mobile";
                }

                var BreakException = {};

                try {



                    if (img.getAttribute('device') != null && img.getAttribute('device') == 'all' && imagePosi < yViewableArea) {
                        imagePosi += img.getAttribute('dataheight');
                        if (img.getAttribute("datasrc") != '')
                            img.src = img.getAttribute("datasrc")
                        img.setAttribute('loading', 'lazy loaded')

                        //setHeaderHight();
                    } else if (img.getAttribute('device') != null && img.getAttribute('device').match('desktop') && device == "desktop" && imagePosi < yViewableArea) {
                        imagePosi += img.getAttribute('dataheight');
                        if (img.getAttribute("datasrc") != '')
                            img.src = img.getAttribute("datasrc")
                        img.setAttribute('loading', 'lazy loaded')

                        //setHeaderHight();
                    } else if (img.getAttribute('device') != null && img.getAttribute('device').match('tablet') && device == "tablet" && imagePosi < yViewableArea) {
                        imagePosi += img.getAttribute('dataheight');
                        if (img.getAttribute("datasrc") != '')
                            img.src = img.getAttribute("datasrc")
                        img.setAttribute('loading', 'lazy loaded')

                        // setHeaderHight();
                    } else if (img.getAttribute('device') != null && img.getAttribute('device').match('mobile') && device == "mobile" && imagePosi < yViewableArea) {
                        imagePosi += img.getAttribute('dataheight');
                        if (img.getAttribute("datasrc") != '')
                            img.src = img.getAttribute("datasrc")
                        img.setAttribute('loading', 'lazy loaded')

                        //setHeaderHight();
                    } else if (imagePosi >= yViewableArea) {
                        throw BreakException;
                    }
                    dynamicHeight(img);

                } catch (e) {
                    if (e !== BreakException) throw e;
                }
            }

        }

        function ImageLazyload() {

            const images = document.querySelectorAll('img[loading="lazy"]');
            if (images.length > 0) {
                var device = "all";
                if (window.innerWidth > 991) {
                    device = "desktop";
                } else if (window.innerWidth > 767) {
                    device = "tablet";
                } else {
                    device = "mobile";
                }

                var BreakException = {};

                try {

                    for (var i = 0; i < images.length; i++) {
                        var img = images[i];
                        var yImagPosition = 0;
                        const rect = img.getBoundingClientRect();
                        yImagPosition = (rect.top != undefined ? rect.top : window.screenTop) + (window.scrollY != undefined ? window.scrollY : window.screenY);
                        //console.log("------------------");
                        //console.log("SRC : "+img.getAttribute("datasrc"));
                        //console.log("DEVICE : " + img.getAttribute("device"));
                        //console.log("yImagPosition : " + yImagPosition);
                        //console.log("yViewableArea : " + yViewableArea);

                        if (img.getAttribute('device') != null && img.getAttribute('device') == 'all' && yImagPosition < yViewableArea) {
                            if (img.getAttribute("datasrc") != '')
                                img.src = img.getAttribute("datasrc")
                            img.setAttribute('loading', 'lazy loaded')

                        } else if (img.getAttribute('device') != null && img.getAttribute('device').match('desktop') && device == "desktop" && yImagPosition < yViewableArea) {
                            if (img.getAttribute("datasrc") != '')
                                img.src = img.getAttribute("datasrc")
                            img.setAttribute('loading', 'lazy loaded')

                        } else if (img.getAttribute('device') != null && img.getAttribute('device').match('tablet') && device == "tablet" && yImagPosition < yViewableArea) {
                            if (img.getAttribute("datasrc") != '')
                                img.src = img.getAttribute("datasrc")
                            img.setAttribute('loading', 'lazy loaded')

                        } else if (img.getAttribute('device') != null && img.getAttribute('device').match('mobile') && device == "mobile" && yImagPosition < yViewableArea) {
                            if (img.getAttribute("datasrc") != '')
                                img.src = img.getAttribute("datasrc")
                            img.setAttribute('loading', 'lazy loaded')

                        } else if (yImagPosition >= yViewableArea) {
                            throw BreakException;
                        }

                        dynamicHeight(img);


                    }
                } catch (e) {
                    if (e !== BreakException) throw e;
                }
            }
        }

        function dynamicHeight(img) {

            //if (img.parentElement != undefined && img.parentElement.parentElement != undefined &&
            //    img.parentElement.parentElement.parentElement != undefined && img.parentElement.parentElement.parentElement.parentElement != undefined &&
            //    img.parentElement.parentElement.parentElement.parentElement.getAttribute("class") != null &&
            //    img.parentElement.parentElement.parentElement.parentElement.getAttribute("class").startsWith('overview-container')) {

            //    if (window.innerWidth > 991) {

            //        var height = img.parentElement.nextElementSibling.offsetHeight > img.parentElement.offsetHeight ? img.parentElement.nextElementSibling.offsetHeight : img.parentElement.offsetHeight;
            //        img.parentElement.setAttribute('style','height:'+height+'px;')
            //        img.parentElement.nextElementSibling.setAttribute('style','height:'+height+'px;')
            //        img.setAttribute('style', 'height:'+height+'px;')
            //    }
            //    else {
            //        img.parentElement.setAttribute('style', img.parentElement.getAttribute('style') + 'height:auto;')
            //        img.parentElement.nextElementSibling.setAttribute('style', img.parentElement.nextElementSibling.getAttribute('style') + 'height:auto;')
            //        img.setAttribute('style', 'height:auto;')
            //    }

            //}
        }

        //window.addEventListener('DOMContentLoaded', function () {
        //    window.scrollBy(0, 1);
        //});
        function loadListeners() {

            window.addEventListener('resize', function() {
                ImageLazyload();
            });

            window.addEventListener('scroll', function() {
                yViewableArea = window.innerHeight + (window.scrollY != undefined ? window.scrollY : window.screenY);
                ImageLazyload();
                //setHeaderHight();
            });

            window.addEventListener('load', function() {
                ImageLazyload();
            });
        }

        loadListeners();
        //$(document).ready(function () {
        //    alert('test');
        //    ImageLazyload();
        //})
    </script>

    <link rel="preload" href="/Images/blank-image.png?la=en" as="image" />


    <!--Fonts for other then Australia-->
    <link rel="stylesheet" href="//fast.fonts.net/cssapi/d12edc21-ced2-4219-94d9-f1987474ceda.css?display=swap" />
    <link rel="stylesheet" href="//fast.fonts.net/cssapi/53fb3da4-bd03-40d5-9010-1fae680aed4b.css?display=swap" />
    <link rel="stylesheet" href="//fast.fonts.net/cssapi/64a0ca88-fff0-48dc-8e2e-9b11887c8207.css?display=swap" />

    <link rel="stylesheet" href="/Styles/Coolsculpting/FontReferenceStatic.css" />
    <link href="/-/media/allergan-themes/theme/common/bootstrapmin.css" rel="stylesheet" type="text/css" />
    <link href="/-/media/allergan-themes/theme/coolsculpting/custom/jquerybxslidermin.css" rel="stylesheet" type="text/css" />
    <link href="/-/media/allergan-themes/theme/coolsculpting/bundles/minify/MinifiedFile080822081145.css" rel="stylesheet" type="text/css" />
    <script defer type="text/javascript" src="/-/media/allergan-themes/script/common/jquery-214min.js"></script>
    <title>คำจำกัดสิทธิความรับผิดชอบ | CoolSculpting®</title>
    <link rel="dns-prefetch" href="https://www.coolsculpting.co.th/th/คำจำกัดสิทธิความรับผิดชอบ">
    <link rel="preconnect" href="https://www.coolsculpting.co.th/th/คำจำกัดสิทธิความรับผิดชอบ">
    <link rel="canonical" href="https://www.coolsculpting.co.th/th/คำจำกัดสิทธิความรับผิดชอบ">

    <link rel="icon" href="/-/media/project/coolsculpting/page/favicon.ico" />
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var
                f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KSQJDHS');
    </script>



    <link rel='alternate' href='https://www.coolsculpting.co.th/th/คำจำกัดสิทธิความรับผิดชอบ' hreflang='x-default' />
    <link rel='alternate' href='https://www.freezefattostaycool.com/disclaimers' hreflang='en-th' />
    <link rel='alternate' href='https://www.freezefattostaycool.com/th/คำจำกัดสิทธิความรับผิดชอบ' hreflang='th-th' />
    <link rel='alternate' href='https://www.coolsculpting.sg/disclaimers' hreflang='en-sg' />
    <link rel='alternate' href='https://ca.coolsculpting.com/disclaimers' hreflang='en-ca' />
    <link rel='alternate' href='https://ca.coolsculpting.com/fr/avis-de-non-responsabilite' hreflang='fr-ca' />
    <link rel='alternate' href='https://www.coolsculpting-latinoamerica.com/en/disclaimers' hreflang='en-la' />
    <link rel='alternate' href='https://www.coolsculpting-latinoamerica.com/aviso-legal' hreflang='es-la' />
    <link rel='alternate' href='https://za.coolsculpting.com/disclaimers' hreflang='en-za' />
    <link rel='alternate' href='https://uk.coolsculpting.com/disclaimers' hreflang='en-gb' />
    <link rel='alternate' href='https://www.coolsculptingin.com/disclaimers' hreflang='en-in' />
    <link rel='alternate' href='https://www.coolsculpting.com.au/disclaimers' hreflang='en-au' />
    <link rel='alternate' href='https://www.coolsculpting.dk/ansvarsfraskrivelse' hreflang='da-dk' />
    <link rel='alternate' href='https://www.coolsculpting.fi/vastuuvapauslausekkeet' hreflang='fi-fi' />
    <link rel='alternate' href='https://www.coolsculpting.de/haftungsausschluss' hreflang='de-de' />
    <link rel='alternate' href='https://www.coolsculpting.it/esclusioni-di-responsabilita' hreflang='it-it' />
    <link rel='alternate' href='https://www.coolsculpting.my/disclaimers' hreflang='en-my' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/disclaimers' hreflang='en-bh' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/disclaimers' hreflang='en-eg' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/disclaimers' hreflang='en-ir' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/disclaimers' hreflang='en-jo' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/disclaimers' hreflang='en-kw' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/disclaimers' hreflang='en-ma' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/disclaimers' hreflang='en-qa' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/disclaimers' hreflang='en-sa' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/disclaimers' hreflang='en-ae' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/disclaimers' hreflang='en-tn' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/disclaimers' hreflang='en-om' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/disclaimers' hreflang='en-lb' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fa/disclaimers' hreflang='fa-bh' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fa/disclaimers' hreflang='fa-eg' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fa/disclaimers' hreflang='fa-ir' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fa/disclaimers' hreflang='fa-jo' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fa/disclaimers' hreflang='fa-kw' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fa/disclaimers' hreflang='fa-lb' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fa/disclaimers' hreflang='fa-ma' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fa/disclaimers' hreflang='fa-om' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fa/disclaimers' hreflang='fa-qa' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fa/disclaimers' hreflang='fa-sa' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fa/disclaimers' hreflang='fa-tn' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fa/disclaimers' hreflang='fa-ae' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fr/disclaimers' hreflang='fr-bh' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fr/disclaimers' hreflang='fr-eg' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fr/disclaimers' hreflang='fr-ir' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fr/disclaimers' hreflang='fr-jo' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fr/disclaimers' hreflang='fr-lb' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fr/disclaimers' hreflang='fr-kw' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fr/disclaimers' hreflang='fr-ma' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fr/disclaimers' hreflang='fr-om' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fr/disclaimers' hreflang='fr-qa' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fr/disclaimers' hreflang='fr-sa' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fr/disclaimers' hreflang='fr-tn' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/fr/disclaimers' hreflang='fr-ae' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/ar/disclaimers' hreflang='ar-eg' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/ar/disclaimers' hreflang='ar-ir' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/ar/disclaimers' hreflang='ar-jo' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/ar/disclaimers' hreflang='ar-bh' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/ar/disclaimers' hreflang='ar-kw' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/ar/disclaimers' hreflang='ar-lb' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/ar/disclaimers' hreflang='ar-ma' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/ar/disclaimers' hreflang='ar-om' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/ar/disclaimers' hreflang='ar-qa' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/ar/disclaimers' hreflang='ar-sa' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/ar/disclaimers' hreflang='ar-tn' />
    <link rel='alternate' href='https://www.coolsculpting-mena.com/ar/disclaimers' hreflang='ar-ae' />
    <link rel='alternate' href='https://mx.coolsculpting.com/en/disclaimers' hreflang='en-mx' />
    <link rel='alternate' href='https://mx.coolsculpting.com/aviso-legal' hreflang='es-mx' />
    <link rel='alternate' href='https://www.coolsculpting.nl/disclaimers' hreflang='nl-nl' />
    <link rel='alternate' href='https://www.coolsculptingno.com/ansvarsfraskrivelse' hreflang='no-no' />
    <link rel='alternate' href='https://www.coolsculptingpl.com/oswiadczenia' hreflang='pl-pl' />
    <link rel='alternate' href='https://www.coolsilhueta.pt/declaracoes-de-isencao-de-responsabilidade' hreflang='pt-pt' />
    <link rel='alternate' href='https://www.coolsculpting.se/ansvarsfriskrivningar' hreflang='sv-se' />
    <link rel='alternate' href='https://www.yosoycool.es/descargo-de-responsabilidad' hreflang='es-es' />
    <link rel='alternate' href='https://www.cooltofit.com/yasal-uyari' hreflang='tr-tr' />





    <script>
        var siteDefaultLanguage = 'en';


        var supportLowercaseURL = false;

        var removeDefaultLanguage = 1;
        if (removeDefaultLanguage == 1) {
            removeDefaultLanguage = true;
        } else {
            removeDefaultLanguage = false;
        }
    </script>


    <!--Fonts for other then Australia-->
    <link rel="stylesheet" href="//fast.fonts.net/cssapi/d12edc21-ced2-4219-94d9-f1987474ceda.css?display=swap" />
    <link rel="stylesheet" href="//fast.fonts.net/cssapi/53fb3da4-bd03-40d5-9010-1fae680aed4b.css?display=swap" />
    <link rel="stylesheet" href="//fast.fonts.net/cssapi/64a0ca88-fff0-48dc-8e2e-9b11887c8207.css?display=swap" />

    <script defer rel="preload" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALkGGfcTisYYtZuo-kd-vY2mQ3oDUuWEQ&amp;channel=CoolSculpting-TH&amp;libraries=places"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/angular.min-1.8.2.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/angular-route.min-1.8.2.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/angular-cookies.min-1.8.2.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/angular-filter.js"></script>
    <script defer type="text/javascript" src="/-/media/allergan-themes/script/coolsculpting/bundles/minify/MinifiedFile151121152323.js"> </script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/bootstrap.min.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/modalVideo.min.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/mapsvg.min.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/mapfinder.js"></script>

    <script defer type="text/javascript" src="/Scripts/Coolsculpting/jquery.nicescroll.min.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/jquery.bxslider.min.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/player.js"></script>

    <script defer type="text/javascript" src="/Scripts/Coolsculpting/minified/Agn.Project.Coolsculpting.jquery.geocomplete.min.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/minified/Agn.Project.Coolsculpting.hcpform.min.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/geolocation-marker.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/jquery.cookie.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/player.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/managecookie.js"></script>
</head>

<body class="th ThailandCoolsculpting" pagename="Disclaimers" data-imglazyload="1" enablelanguagecodeupdate="True">
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KSQJDHS" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>


    <div id="settings-site" data-isEEditor="0">
        <div id="settings-geolocation" data-geolocationapi=https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyAltuYszRmFVsQ6SIQv6O7UYvITwc57dd0>
        </div>
        <div id="settings-countrycode" data-country=TH>
        </div>
        <div id="settings-countrycodefilter" data-countries="TH">
        </div>
        <div id="settings-countryname" data-countryname="Thailand">
        </div>
        <div id="settings-unbranded" data-unbranded="False">
        </div>
        <div id="settings-isgdpr" data-gdpr="False">
        </div>
        <div id="settings-isdistanceinkm" data-distanceinkm="False">
        </div>
        <div id="settings-isradius" data-radius="">
        </div>

        <div id="settings-SFGlobalcliniclocator" data-iclapproach="1">
        </div>
        <div id="settings-ICLDistance" data-icldistancevalue="">
        </div>
        <div id="settings-ICLCountryCode" data-iclcountrycodevalue="TH">
        </div>
        <div id="settings-ICLClustercountrycode" data-clustercountrycodevalue="">
        </div>
        <div id="settings-ImageLazyload" data-imagelazyload="1">
        </div>

    </div>

    <!--  Start Sitecore Jquery Issues Conflict -->
    <script>
        if (typeof jQuery != 'undefined' && jQuery.fn.jquery == "1.5.1") {
            jQuery.noConflict(true);
        }
    </script>
    <!--  End Sitecore Jquery Issues Conflict -->
    <div ng-app="allerganApp" class="ng-coolsculpting">
        <!--Start: Cookie Policy Section-->
        <section cookie class="ng-scope">



            <div class="modal fade" id="csmodelpopup">
                <div class="modal-dialog" role="dialog" tabindex="">
                    <div class="modal-content" role="document">

                        <div class="main container" style="height: auto;">
                            <div class="raw">
                                <div class="main-container" style="margin: auto; top: auto;">
                                    <div class="w-cover hcp-popup">

                                        <h1 class="m40">
                                        </h1>
                                        <div class="bottom-text">
                                            ข้อความในเวปไซด์นี้ มีวัตถุประสงค์เพื่อเป็นข้อมูลและเพื่อศึกษาเท่านั้น และไม่ควรนำมาใช้เพื่อทดแทนคำแนะนำจากผู้เชี่ยวชาญ โปรดปรึกษาผู้เชี่ยวชาญที่ได้รับการแต่งตั้งอย่างถูกต้องหรือแพทย์ผู้ชำนาญผู้ซึ่งสามารถให้คำแนะนำที่ถูกต้องและเหมาะสมกับแต่ละบุคคล </div>
                                        <a class="btn-lnk m40" id=landinghcp-btn>
                                            <span class="cursor-md">
                                            </span>

                                        </a>

                                        <span class="cursor-md">
                                            คำจำกัดสิทธิความรับผิดชอบ
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>
        <!--End: Cookie Policy Section-->
        <!--Start: Header Section-->

        <section header class="ng-scope">
            <header class="main-header clearfix " role="banner">
                <div class="header-inner">
                    <div class="header exp-editor">
                        <a href="/th" class="logo ft-left"><img src="/Images/blank-image.png?la=th" dataheight="42" src="" onload="InitialImageload(this)" loading="lazy" device="desktop" datasrc="/-/media/project/coolsculpting/logo/logo-coolsculp-dt.png" alt="" class="hidden-xs hidden-sm" /><img src="/Images/blank-image.png?la=th" dataheight="42" src="" onload="InitialImageload(this)" loading="lazy" device="tablet" datasrc="/-/media/project/coolsculpting/logo/logo-coolsculp-dt.png" alt="" class="hidden-xs hidden-md hidden-lg" /><img src="/Images/blank-image.png?la=th" dataheight="42" src="" onload="InitialImageload(this)" loading="lazy" device="mobile" datasrc="/-/media/project/coolsculpting/logo/logo-coolsculp-dt.png" alt="" class="hidden-sm hidden-md hidden-lg" /></a>


                        <a href="javascript:void(0);" aria-expanded="false" role="button" aria-label="toggle navigation" data-ng-class="{active: active}" data-ng-click="active =!active;menuToggled();" class="btn menu-btn ft-right">
                            <span class="sr-only">เมนูนำทาง</span>
                            <div data-ng-hide="active" class="burger-menu ft-left">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <img src="/Images/blank-image.png?la=th" dataheight="24" src="" Class="close-toggle" onload="InitialImageload(this)" loading="lazy" device="all" datasrc="/-/media/project/coolsculpting/logo/close.png" data-ng-show="active" alt="" />

                        </a>
                    </div>

                </div>
                <div class="nav-menu" role="navigation">
                    <ul class="ft-left main-nav order-2 nav-flexi " role="menubar">
                        <li class="list-container" role="menuitem">
                            <div class="overlay"></div>



<a href="/th" class="nav-title" aria-expanded="false" aria-haspopup="true">หน้าหลัก</a>                                
<a href="/th" ng-click="navigateNxt($event);" class="list-item first-item-menu">หน้าหลัก</a>                                                            </li>
                        <li class="list-container" role="menuitem">
                            <div class="overlay"></div>



                            <a href="javascript:void(0);" class="nav-title" aria-expanded="false" aria-haspopup="true">เกี่ยวกับ CoolSculpting®<img src="/-/media/project/coolsculpting/navigation/icon-drop-blue.png?h=24&amp;w=24&amp;la=th&amp;hash=5766B4F68D1337FBB026301F127F76F02ADF1806" alt=""></a>
                            <a href="javascript:void(0);" ng-click="navigateNxt($event);" class="list-item">เกี่ยวกับ CoolSculpting®</a> 
                            <ul class="sub-menu dropdown-content">
                                <li>

<a href="/th/การกำจัดไขมันด้วยการแช่แข็ง-คืออะไร" ng-click="navigateNxt($event);" class="list-item">                                                 <!--inner Navigation Menu DisplayName-->
CoolSculpting® คืออะไร</a>
                                </li>
                                <li>

<a href="/th/อะไรคือสิ่งที่คาดหวัง" ng-click="navigateNxt($event);" class="list-item">                                                 <!--inner Navigation Menu DisplayName-->
อะไรคือสิ่งที่คาดหวัง</a>
                                </li>
                                <li>

<a href="/th/หลักการทำงาน" ng-click="navigateNxt($event);" class="list-item">                                                 <!--inner Navigation Menu DisplayName-->
มันทำงานอย่างไร</a>
                                </li>
                                <li>

<a href="/th/คำถามที่พบบ่อย" ng-click="navigateNxt($event);" class="list-item">                                                 <!--inner Navigation Menu DisplayName-->
คำถามที่พบบ่อย</a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                    <ul class="lan-select order-3">
                        <li>
                            <a href="/" data-lancode="EN"> <abbr title="English" class="langtitle">
                                    EN
                                    <span class="sr-only">Click here to choose English language</span>
                                </abbr>
                            </a>
                            <span class="divider">/</span>

                        </li>
                        <li>
<a href="/th" data-lancode="TH" class="active">                                                <abbr title="Thailand" class="langtitle">
                                    TH
                                    <span class="sr-only">Click here to choose Thailand language</span>
                                </abbr>
                            </a>

                        </li>
                    </ul>

                    <ul class="cta-group order-1 " role="menubar">
                        <li role="menuitem">
                            <a href="/th/ค้นหาคลินิก" onclick="dataLayer.push({'buttonLocation': 'Header','event': 'findProviderClicked'});" class="btn cta"><img src="/Images/blank-image.png?la=th" dataheight="29" src="" onload="InitialImageload(this)" loading="lazy" device="all" datasrc="/-/media/project/coolsculpting/navigation/map-pin-blue.png" alt="" /> <span>
                                    ค้นหาคลินิก
                                </span>
                                <img src="/-/media/project/coolsculpting/navigation/icon-drop.png?h=24&amp;w=24&amp;la=th&amp;hash=6598FEAC74E83DE14764BF2D125C718ECD1C2AD0" class="icon-nav" alt="" /></a>
                        </li>
                    </ul>

                </div>
            </header>
            <div class="sticky-header "></div>
        </section>
        <!--End: Header Section-->
        <!--Layout Changes: Start-->
        <main>
            <section>
                <section title-description class="ng-scope">
                    <div class="pagetitle-container">
                        <h1 class="pagetitle">
                            คำจำกัดสิทธิความรับผิดชอบ
                        </h1>
                    </div>
                </section>
                <section privacypolicy class="ng-scope">
                    <div class="addInfo-container">
                        <div class="block-inner">
                            <div class="privacy-container">
                                <div class="content-inner">
                                    <h2 class="heading_h4">คำจำกัดสิทธิความรับผิดชอบ</h2>

                                    ข้อความในเวปไซด์นี้ มีวัตถุประสงค์เพื่อเป็นข้อมูลและเพื่อศึกษาเท่านั้น และไม่ควรนำมาใช้เพื่อทดแทนคำแนะนำจากผู้เชี่ยวชาญ โปรดปรึกษาผู้เชี่ยวชาญที่ได้รับการแต่งตั้งอย่างถูกต้องหรือแพทย์ผู้ชำนาญผู้ซึ่งสามารถให้คำแนะนำที่ถูกต้องและเหมาะสมกับแต่ละบุคคล
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section links class="ng-scope">
                    <div class="link-container">
                        <ul class="block-inner">

                        </ul>
                    </div>
                </section>
            </section>


        </main>

        <!--Start: Country Selection-->
        <section country-selection class="ng-scope">

        </section>
        <!--End: Country Selection-->
        <!-------------------------------------------------------------------------------------->
        <!--Start: Footer Section-->
        <section footer class="ng-scope">
            <footer class="footer-section" role="contentinfo">
                <div class="clinic-loc">
                    <div class="block-inner">
                        <!--Skip find a clinic for mea region sites non-veeva clinic-->


                        <form class="form-inline ng-pristine ng-valid">

                            <label for="footerSearch" class="label-clinic">ค้นหาคลินิก</label>
                            <div class="input-group" role="search">
                                <input type="text" id="footerSearch" data-nav="findaclinic" ng-keypress="searchftrClinic($event);" class="find-clinic-input form-control search-loc" placeholder="ป้อนชื่อเมืองหรือรหัสไปรษณีย์" autocomplete="off">

                                <a href="/th/ค้นหาคลินิก" class="map-pin-container pin-nav" target="_blank" role="button" ng-click="footerLocSearch($event);"><img src="/-/media/project/coolsculpting/findclinic/icon-searchcfd3.png?h=24&amp;w=24&amp;la=th&amp;hash=3C5413998B0D5DF2B2EB77ED6E01D7D366AAE51B" class="v-center" alt="ค้นหา" /></a>

                            </div>


                            <div class="hidden">
                                <div id="Apigeolocationerr">ข้อผิดพลาดในการโยกย้าย API</div>
                            </div>
                            <div class="modal fade" id="footerErrorModal" role="dialog" style="display: none;">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content" style="text-align: left;">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <h4 class="modal-title">ความผิดพลาด</h4>
                                        </div>
                                        <div class="modal-body body-style1">โปรดป้อนเมืองที่ถูกต้องหรือรหัสไปรษณีย์</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </form>


                    </div>
                </div>
                <div class="footer-inner clearfix">
                    <div class="block-inner">
                        <div class="footer-sec2">
                            <a href="/th" class="ws-logo"><img src="/Images/blank-image.png?la=th" dataheight="0" src="" onload="InitialImageload(this)" loading="lazy" device="all" datasrc="/-/media/project/coolsculpting/logo/Coolsculpting_logo_new.svg" alt="" /></a>
                            <ul class="social-icons">
                            </ul>
                            <a href="https://www.allergan.com/" class="ws-logo" target="_blank"><img src="/Images/blank-image.png?la=th" dataheight="42" src="" onload="InitialImageload(this)" loading="lazy" device="all" datasrc="/-/media/project/coolsculpting/homepage/webp/AllerganAesthetics_logo_black.png" alt="" /> <span class="sr-only"></span>
                            </a>
                            <p class="footer-logo-info">
                                <style>
                                    .footer-section .footer-inner.unbranded-footer .footer-sec2 {
                                        display: block !important;
                                    }
                                </style>
                            </p>

                        </div>
                        <div class="footer-sec1">
                            <div class="sec-inner section-links">
                                <ul class="footer-links">
                                    <li>
                                        <a href="https://privacy.abbvie/privacy-policies/thailand-th-privacy-notice.html" Class="icon-link" aria-label="นโยบายความเป็นส่วนตัว​" target="_blank">นโยบายความเป็นส่วนตัว</a>
                                    </li>
                                    <li>
                                        <a href="https://www.abbvie.com/terms-of-use.html" Class="icon-link" aria-label="ระยะเวลาและเงื่อนไข" target="_blank">ข้อตกลงและเงื่อนไข</a>
                                    </li>
                                    <li>
                                        <a href="/th/คำจำกัดสิทธิความรับผิดชอบ" aria-label="คำจำกัดสิทธิความรับผิดชอบ" Class="icon-link">คำจำกัดสิทธิความรับผิดชอบ</a>
                                    </li>
                                    <li>
                                        <a href="/th/แผนผังเว็บไซต์" aria-label="แผนผังเว็บไซต์" Class="icon-link">แผนผังเว็บไซต์</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="ot-sdk-show-settings" Class="icon-link" aria-label="" title="Overridden by OneTrust">การตั้งค่าคุกกี้</a>
                                    </li>
                                </ul>
                            </div>


                            <div class="sec-inner country-select clearfix">
                                <ul class="social-icons">
                                </ul>

                                <p class="info-text">ไซต์นี้จัดทำขึ้นสำหรับผู้เข้าชมในประเทศไทยเท่านั้น</p>

                            </div>
                        </div>

                        <div class="ism-footer-note col-md-12 col-sm-12 col-xs-12">
                            <div class="row">

                                <div class="col-xs-12 col-sm-12 hidden-md hidden-lg footer-zinc info-extra">
                                    <div class="row">
                                        <p>ฆพ. 1173/2563 <br />
                                            Date of preparation: September 2020​</p>
                                    </div>
                                </div>

                                <div class="col-md-10 col-sm-12 col-xs-12 footer-text info-extra">
                                </div>

                                <div class="col-md-2 hidden-sm hidden-xs footer-zinc info-extra">
                                    <p>ฆพ. 1173/2563​ <br />
                                        Date of preparation: September 2020​</p>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </footer>
        </section>
        <!--End: Footer Section-->


    </div>

    <!-- Start PWA Section of Google Light house -->
    <!-- END PWA Section of Google Light house -->
    <input name="__RequestVerificationToken" type="hidden" value="EBBLD4X-ofLB5lBeo6tnCY0L6taM6-af7vSsYyVt8w7vYFEqgRb5JoamTyCIepJzIngcLj52e552fO9CayqESWmQJpEFiSyOQCPO2a0xr9k1" />

</body>

</html>