.img-hs-container .hs-content .model-man .doublechin.hotspot {
    top: 61px;
    right: 114px;
}

.img-hs-container .hs-content .model-women .doublechin.hotspot {
    top: 62px;
    right: 93px;
}

.img-hs-container .hs-content .model-women .abdomen.hotspot {
    top: 208px;
    left: 77px;
}

.img-hs-container .hs-content .model-man .abdomen.hotspot {
    top: 202px;
    left: 123px;
}

.img-hs-container .hs-content .model-women .outerthighs.hotspot {
    top: 276px;
    left: 133px;
}

.img-hs-container .hs-content .model-women .innerthighs.hotspot {
    top: 277px;
    left: -160px;
}

.img-hs-container .hs-content .model-women .brafat.hotspot {
    top: 120px;
    right: 60px;
}

.img-hs-container .hs-content .model-man .flanksorsides.hotspot {
    top: 196px;
    right: 144px;
}

.img-hs-container .hs-content .model-women .flanksorsides.hotspot {
    top: 200px;
    right: 72px;
}

.img-hs-container .hs-content .model-man .upperarms.hotspot {
    top: 117px;
    right: 164px;
}

.img-hs-container .hs-content .model-women .upperarms.hotspot {
    top: 134px;
    right: 46px;
}

#confirmCookieModal .modal-header, #cookieModal .modal-header, .txt-center {
    padding-bottom: 7px;
}



@media (min-width: 1025px) and (max-width: 1280px) {

    .dialog-wrapper {
        bottom: 35px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .dialog-wrapper {
        bottom: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .dialog-wrapper {
        bottom: 30px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .sticky-header {
        padding-top: 110px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .sticky-header {
        padding-top: 110px !important;
    }
}

@media (min-device-width: 1024px) and (max-device-width: 1366px) {

    .sticky-header {
        padding-top: 80px !important;
    }

    .main-header ul.main-nav li a {
        padding: 0 10px;
    }
}

@media only screen and (min-width: 1281px) {

    .dialog-wrapper {
        bottom: 80px;
    }

    .main-header ul.main-nav li a {
        padding: 0 20px;
    }
}
