.link-container .action-block {
  float: right;
}
@media only screen and (min-width: 992px) {
  .link-container .action-block {
    width: 50%;
    padding: 0px;
  }
  .link-container .action-block:first-child {
    padding-left: 15px;
    margin-bottom: 25px;
  }
  .link-container .action-block:last-child {
    padding-right: 15px;
  }
}
.link-container .action-block .action-image {
  float: right;
}
.link-container .action-block a {
  text-align: right;
}
.link-container .action-block a .link-text {
  padding-left: 40px;
  padding-right: 0px;
}
@media screen and (min-width: 992px) {
  .link-container .action-block a .link-text {
    padding-left: 50px;
  }
}
.link-container .action-block a .link-nav {
  right: auto;
  left: 0px;
}
.link-container .action-block a .link-nav img {
  transform: rotate(180deg);
}
body {
  text-align: right;
}
.ft-left {
  float: right;
}
.ft-right {
  float: left;
}
a.find-more {
  text-align: left;
}
a.find-more img {
  margin-right: 10px;
  transform: rotate(180deg);
}
section,
article {
  float: right;
}
.overview-inner .section-text .text-caret {
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  right: 50%;
}
@media only screen and (min-width: 992px) {
  .overview-inner .section-text .text-caret {
    border-right: none;
    border-top: 12px solid transparent;
    border-left: 12px solid #005eb8;
    border-bottom: 12px solid transparent;
    right: -15px;
    left: auto;
  }
}
@media only screen and (min-width: 992px) {
  .overview-inner .section-text {
    text-align: right;
  }
}
@media only screen and (min-width: 992px) {
  .overview-inner.feature-new .text-caret {
    border-right: 12px solid #005eb8;
    border-left: none;
    right: auto;
    left: -5px;
  }
}
.footer-section .clinic-loc .label-clinic {
  text-align: left;
}
@media only screen and (min-width: 992px) {
  .footer-section .clinic-loc .input-group {
    margin-right: 80px;
  }
}
@media only screen and (min-width: 992px) {
  .footer-section .footer-inner .footer-sec1 {
    float: left;
  }
}
@media only screen and (min-width: 992px) {
  .footer-section .footer-inner .footer-sec2 {
    float: right;
    text-align: right;
  }
}
.footer-section .footer-inner .footer-sec2 .social-icons li {
  margin: 0px 0px 0px 10px;
}
@media only screen and (min-width: 992px) {
  .footer-section .footer-inner .sec-inner {
    float: right;
  }
}
@media only screen and (min-width: 992px) {
  .footer-section .footer-inner .country-select {
    text-align: right;
  }
}
.footer-section .footer-inner .country-select .social-icons li {
  margin: 0px 0px 0px 10px;
}
.footer-section .footer-inner .country-change {
  text-align: right;
}
.footer-section .footer-inner .ism-footer-note {
  padding: 0px 15px 30px;
}
@media screen and (min-width: 991px) {
  .footer-section .footer-inner .ism-footer-note {
    padding: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer-section .footer-inner .ism-footer-note .footer-text {
    text-align: right;
  }
}
@media screen and (min-width: 991px) {
    .footer-section .footer-inner .ism-footer-note .footer-text {
        padding-left: 20px;
        float:right;
      padding-right:0;
    }
}
.footer-section ul.footer-links > li a .icon-link {
  left: 15px;
  right: auto;
}
@media only screen and (min-width: 768px) {
  .footer-section ul.footer-links > li a .icon-link {
    margin-right: 5px;
    left: auto;
  }
}
@media only screen and (min-width: 992px) {
  .footer-section ul.footer-links > li a .icon-link {
    right: 90px;
  }
}
@media only screen and (min-width: 992px) {
  .footer-section ul.footer-links > li {
    text-align: right;
  }
}
.input-group .search-loc {
  padding: 6px 0px 6px 50px;
}
.map-pin-container {
  left: 10px;
  right: auto;
}
@media only screen and (min-width: 768px) {
  .banner-container .banner-inner.item-set_1 .banner-img {
    border: 0;
    border-left: 1px solid #e4e4e4;
  }
}
.banner-container .banner-inner.item-set_2 .banner-img {
  float: right;
}
.banner-container .banner-inner.item-set_2 .banner-img:last-child {
  border: 0;
  border-right: 1px solid #e4e4e4;
}
@media only screen and (min-width: 768px) {
  .banner-container .banner-inner.item-set_2 .banner-img {
    border: 0;
    border-left: 1px solid #e4e4e4;
  }
}
@media only screen and (min-width: 768px) {
  .banner-container .banner-inner.item-set_3 .banner-img {
    border: 0;
    border-left: 1px solid #e4e4e4;
  }
}
.banner-container .banner-inner.item-set_4 .banner-img {
  /*float: right;*/
}
.banner-container .banner-inner.item-set_4 .banner-img:nth-child(odd) {
  border: 0;
  border-left: 1px solid #e4e4e4;
}
@media only screen and (min-width: 768px) {
  .banner-container .banner-inner.item-set_4 .banner-img {
    border: 0;
    border-left: 1px solid #e4e4e4;
  }
}
.main-header .header-inner {
  float: right;
}
.main-header .header-inner .logo img {
  margin-right: 22px;
}
.main-header .header-inner .menu-btn {
  margin: 18px 0px 0px 15px;
}
.main-header .nav-menu {
  float: right;
}
@media only screen and (min-width: 992px) {
  .main-header .lang-nav-links {
    float: left;
  }
    comp-container .carousal-hdn .crsl-wrap .carousal-note {
        direction: rtl;
    }
}
.main-header ul.cta-group li {
  float: right;
}
@media only screen and (min-width: 992px) {
  .main-header ul.cta-group li a {
    border-left: 1px solid #c7c7c7;
    border-right: none;
  }
}
.main-header ul.cta-group li:last-child a {
  border-left: none;
  border-right: none;
}
@media only screen and (max-width: 992px) {
  .main-header ul.cta-group li .icon-nav {
    left: 15px;
    /*right: auto;*/
  }
}
@media only screen and (min-width: 992px) {
    .main-header ul.cta-group {
        float: left;
        left: 0 !important;
        position: absolute;
    }
    .main-header ul.lan-select {
        left: 165px !important;
        float: left;
        position: absolute;
    }
    .slide-container .tab .slide-cta {
        left: 0;
        right: auto;
    }
    .slide-container .tab .slide-cta a img {
            transform: rotate(180deg);
        }

    .slide-container .image-container .bottom-left-text {
        right: 20px;
        left: auto;
    }
}
.main-header ul.lan-select li a {
  text-align: right;
}
@media only screen and (min-width: 992px) {
  .main-header ul.main-nav {
    margin-right: 30px;
    margin-left: 0px;
  }
}
.main-header .nav-flexi .list-container .sub-menu {
  float: right;
  text-align: right;
  right: 0;
}
.bx-wrapper {
  direction: ltr;
}
.comp-container .ba-container {
  direction: ltr;
}
.comp-container .ba-tab-wrap {
    direction: rtl;
}
.comp-container .carousal-hdn .ba-tab-expanded .img-before {
    float: right;
}
.comp-container .filter-container .load-more {
    text-align: right;
}
.comp-container .filter-container .load-more img {
        float: right;
}
    .comp-container .carousal-hdn #crsl-close {
  text-align: left;
}

comp-container .carousal-hdn .crsl-wrap .carousal-note{
    direction:rtl;
}
.contactus_containr ul li {
    text-align: right;
    float: right
}
.faq_container .panel-title {
  text-align: right;
}
.faq_container .dwn_arw {
  float: left;
}
.faq_container .up_arw {
  float: left;
}
.faq_container .panel-body p {
  text-align: right;
}
.faq_container .seemorefaq .see-more {
  text-align: right;
  padding: 13px 22px 13px 22px;
}
.faq_container .seemorefaq .see-more img {
  position: relative;
  left: 15px;
  transform: rotate(180deg);
}

    .faq_container .quicklink {
        max-width: 100%;
    }

    .addInfo-container .heading_h2 span {
        text-align: right;
    }

    .addInfo-container .heading_h4 {
        text-align: right;
    }

    .addInfo-container p {
        text-align: right;
    }

    .addInfo-container .heading_h5 {
        text-align: right;
    }

    .addInfo-container .gt-list .gt-list-item {
        text-align: right;
        margin-right: 45px;
        margin-left: 0px;
    }

    .addInfo-container .addr-section {
        margin: 15px 45px 15px 15px;
    }

    .addInfo-container .gt-extra-inner {
        margin-left: 0px;
        margin-right: 45px;
    }

    .addInfo-container .tbl-info .tbl-cell .gt-list-item {
        margin-right: 20px;
    }

    @media only screen and (min-width: 992px) {
        .slide-container .image-container .add-ons {
            right: 50px;
        }

        .info-container .text-checked {
            padding-right: 40px;
            padding-left: 0px;
        }

        .info-container .info-wrapper {
            text-align: left;
            position:relative;
        }
    }
.img-hs-container .hs-content .slide-tab .diff-img {
    float: right;
}
    @media only screen and (min-width: 768px) {
        .model-container {
            float: right;
        }

        .img-hs-container .hs-content .slide-tab .img-before {
            float: right;
        }

        .comp-container .carousal-hdn .ba-tab-expanded .img-before {
            float: right;
        }

        .comp-container .ba-tab .img-before {
            float: right;
        }

        .clinic-wrapper .clinicInfo-inner .clinicItem-wrapper .clinicInfo-address {
            text-align: right;
        }
      

            .img-hs-container .hs-content .slide-tab .diff-img:first-child {
                margin-right: 7%;
                float: right;
            }

        .img-hs-container .hs-content .slide-tab .img-label {
            font-size: 14px;
            width: 80%;
            margin: 5px auto;
            line-height: 1.46;
            direction: rtl;
        }
    }

    @media (min-width: 320px) and (max-width: 480px) {
        .faq_container .panel-title > a {
            padding-right: 0;
            width: 97%;
            padding-left: 0px;
        }

        .faq_container .panel-default > .panel-heading {
            min-height: 60px;
        }

        .intro-container .dialog-box {
            left: 37%;
            /*transform: translate(-38%,0%);
            webkit-transform: translate(-38%,0);
            -moz-transform: translate(-38%,0);
            -ms-transform: translate(-38%,0);
            -o-transform: translate(-38%,0);
            transform: translate(-38%,0);*/
        }
        .MEACoolsculpting .intro-container .dialog-box {
            left: 50%;
        }
    }

    .comp-container .nav-both.active ~ .anim-border {
        right: 0px;
    }

    .comp-container .nav-women.active ~ .anim-border {
        right: 106px;
    }

    @media only screen and (min-width: 768px) {
        .comp-container .nav-women.active ~ .anim-border {
            right: 155px;
        }
    }

    .comp-container .nav-men.active ~ .anim-border {
        right: 212px;
    }

    @media only screen and (min-width: 768px) {
        .comp-container .nav-men.active ~ .anim-border {
            right: 310px;
        }
    }

    /*.comp-container .carousal-hdn .ba-tab-expanded span
    #cookie-reveal-toggle {
        float: right;
        margin-right: 0em !important;
        margin-left: 1em !important;
    }

    #newconfirmCookieSubmit {
        float: right;
    }*/

    @media only screen and (min-width: 992px) {
        .comp-container .carousal-hdn .ba-tab-expanded span {
            font-size: 16px;
            direction: rtl;
        }

        .clinic-wrapper .clinicInfo-inner .clinicItem-wrapper .clinicInfo-address {
            text-align: right;
        }
        .clinic-wrapper .clinicInfo-inner .clinicItem-wrapper .pin-info{
            float:right;
        }
        
    }

    .footer-section .footer-inner .info-extra p:nth-child(4)   {
        text-align: right !important;
    }

.col-md-10.col-sm-12.col-xs-12.footer-text.info-extra .rtlref {
    direction: ltr;
    text-align: right;
    word-break: break-all;
    font-size: 10.5px;
}
@media screen and (max-width: 767px) {
    .info-container .text-checked {
        padding-right: 29px;
    }
    .info-container .icon-checked{
        right:0;
    }
    .info-container .info-wrapper {
        position: relative;
    }
}
.info-container .info-block {
 margin: auto;
}

.comp-container .carousal-hdn .ba-tab-expanded span
#cookie-reveal-toggle {
    float: right;
    margin-right: 0em !important;
    margin-left: 1em !important;
}

#newconfirmCookieSubmit {
    float: right;
}
#cookie-law-info-bar, #cookie-reveal-toggle {
    margin-left: 1em;
    float: right;
}
@media (min-width: 320px) and (max-width:480px) {
    .comp-container .carousal-hdn #crsl-close, a.find-more {
        text-align: center;
    }
    .comp-container .filter-container .load-more {
        text-align: left;
    }

        .comp-container .filter-container .load-more img {
            float: right;
        }
    .faq_container .panel-title > a span{
        left:-10px;
    }
    .clinic-wrapper .clinicInfo-inner .clinicItem-wrapper .clinicInfo-address {
        text-align: right;
    }
    .clinic-wrapper .clinicInfo-inner .clinicItem-wrapper .pin-info {
        float: right;
    }
        
}

@media only screen and (min-width: 320px) and (max-width: 768px) and (orientation: landscape) {
    .intro-container .dialog-box {
        right: 0;
    }
    .MEACoolsculpting .intro-container .dialog-box {
        right: auto;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .clinic-wrapper .clinicInfo-inner .clinicInfo-item {
        float: right;
    }
}

@media only screen and (min-width: 992px) {
    .comp-container .carousal-hdn .courtesy-text {
        font-size: 16px;
        direction: rtl;
    }
}
.slide-container .tab.active .add-ons {
    text-align: right;
}
.footer-text.info-extra .refere-text {
    text-align: right !important;
}
div#searchbarmea {
    padding-right: 30px;
}
@media only screen and (min-width: 768px) {
    .map-info {
        padding-right: 25px;
    }
}
.img-hs-container .selection-dropdown .selected-option {
    top: 0px;
}
#fccountryselect.textlabel {
    background-color: #f4f4f4 !important;
    width: 87% !important;
    left: 0;
}
/*.img-hs-container .selection-dropdown .search-arrow-container {
    left: 0;
}*/
