<!DOCTYPE html>
<html lang="en-TH" data-lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">


    <style>
        html,
        body {
            height: auto;
            width: 100%;
            padding: 0px;
            overflow-x: hidden;
        }

        body {
            position: relative;
            max-width: 1440px;
            margin: 0 auto;
            background: #fff;
            color: #75787b;
            font-family: AvenirNextLTW01-Medium;
            font-size: 16px;
            line-height: 24px;
            -ms-overflow-style: scrollbar;
        }

        .cookie-avl .cookie-wrapper {
            display: table;
        }

        .cookie-wrapper {
            display: none;
            position: fixed;
            max-width: 1440px;
            margin: 0 auto;
            top: 0px;
            width: 100%;
            padding: 10px 40px 8px;
            text-align: left;
            background-color: #00a4e0;
            z-index: 9999;
        }

        .main-header {
            position: fixed;
            max-width: 1440px;
            margin: 0 auto;
            width: 100%;
            background: #fff;
            z-index: 1000;
        }

        section,
        article {
            width: 100%;
            float: left;
        }

        article,
        aside,
        dialog,
        figure,
        footer,
        header,
        hgroup,
        nav,
        section {
            display: block;
        }

        /*header {
                height: 80px;
            }*/

        section intro-container {
            height: 687px;
        }

        section image-map {
            height: 688px;
        }

        .main-header .header-inner {
            width: 20%;
            float: left;
        }

        .main-header .nav-menu {
            width: 80%;
            display: block;
            float: left;
        }

        .main-header ul.main-nav {
            display: block;
            width: auto;
            /*margin-left: 30px;*/
        }

        .main-header .nav-menu ul li {
            display: inline-block;
            width: auto;
            position: relative;
            margin: 0;
        }

        .main-header ul.lan-select {
            display: block;
            width: auto;
            /*margin: 15px 0px;*/
            border-bottom: none;
            float: right;
            position: relative;
            padding: 0px 20px;
            text-align: center;
        }


        .main-header .nav-flexi .list-container .overlay {
            position: absolute;
            display: none;
            width: 100%;
            height: 100%;
            background: #f4f4f4;
            z-index: -9;
        }

        .main-header .order-2 {
            order: 2;
        }

        .main-header .order-3 {
            order: 3;
        }

        .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }

        .intro-container .image-container {
            position: relative;
            width: 100%;
        }

        .main-header .nav-flexi .list-container>.list-item {
            display: none;
        }


        img[loading="lazy"] {
            display: none;
        }
    </style>

    <script>
        var yViewableArea = window.innerHeight;
        if (window.innerWidth > 991) {
            yViewableArea = 100;
        } else if (window.innerWidth > 767) {
            yViewableArea = 50;
        } else {
            yViewableArea = 50;
        }
        var imagePosi = 0;

        function addLinktagforImage(val) {
            var sc = document.createElement("link");
            sc.setAttribute("href", val);
            sc.setAttribute("rel", "preload");
            sc.setAttribute("as", "image");
            document.getElementsByTagName("head")[0].appendChild(sc);
        }

        function InitialImageload(img) {

            //const images = document.querySelectorAll('img[loading="lazy"]');
            if (img.getAttribute('datasrc') != undefined && img.src != img.getAttribute('datasrc') && img.getAttribute('loading') != undefined && img.getAttribute('loading') == "lazy") {
                var device = "all";
                if (window.innerWidth > 991) {
                    device = "desktop";
                } else if (window.innerWidth > 767) {
                    device = "tablet";
                } else {
                    device = "mobile";
                }

                var BreakException = {};

                try {



                    if (img.getAttribute('device') != null && img.getAttribute('device') == 'all' && imagePosi < yViewableArea) {
                        imagePosi += img.getAttribute('dataheight');
                        if (img.getAttribute("datasrc") != '')
                            img.src = img.getAttribute("datasrc")
                        img.setAttribute('loading', 'lazy loaded')

                        //setHeaderHight();
                    } else if (img.getAttribute('device') != null && img.getAttribute('device').match('desktop') && device == "desktop" && imagePosi < yViewableArea) {
                        imagePosi += img.getAttribute('dataheight');
                        if (img.getAttribute("datasrc") != '')
                            img.src = img.getAttribute("datasrc")
                        img.setAttribute('loading', 'lazy loaded')

                        //setHeaderHight();
                    } else if (img.getAttribute('device') != null && img.getAttribute('device').match('tablet') && device == "tablet" && imagePosi < yViewableArea) {
                        imagePosi += img.getAttribute('dataheight');
                        if (img.getAttribute("datasrc") != '')
                            img.src = img.getAttribute("datasrc")
                        img.setAttribute('loading', 'lazy loaded')

                        // setHeaderHight();
                    } else if (img.getAttribute('device') != null && img.getAttribute('device').match('mobile') && device == "mobile" && imagePosi < yViewableArea) {
                        imagePosi += img.getAttribute('dataheight');
                        if (img.getAttribute("datasrc") != '')
                            img.src = img.getAttribute("datasrc")
                        img.setAttribute('loading', 'lazy loaded')

                        //setHeaderHight();
                    } else if (imagePosi >= yViewableArea) {
                        throw BreakException;
                    }
                    dynamicHeight(img);

                } catch (e) {
                    if (e !== BreakException) throw e;
                }
            }

        }

        function ImageLazyload() {

            const images = document.querySelectorAll('img[loading="lazy"]');
            if (images.length > 0) {
                var device = "all";
                if (window.innerWidth > 991) {
                    device = "desktop";
                } else if (window.innerWidth > 767) {
                    device = "tablet";
                } else {
                    device = "mobile";
                }

                var BreakException = {};

                try {

                    for (var i = 0; i < images.length; i++) {
                        var img = images[i];
                        var yImagPosition = 0;
                        const rect = img.getBoundingClientRect();
                        yImagPosition = (rect.top != undefined ? rect.top : window.screenTop) + (window.scrollY != undefined ? window.scrollY : window.screenY);
                        //console.log("------------------");
                        //console.log("SRC : "+img.getAttribute("datasrc"));
                        //console.log("DEVICE : " + img.getAttribute("device"));
                        //console.log("yImagPosition : " + yImagPosition);
                        //console.log("yViewableArea : " + yViewableArea);

                        if (img.getAttribute('device') != null && img.getAttribute('device') == 'all' && yImagPosition < yViewableArea) {
                            if (img.getAttribute("datasrc") != '')
                                img.src = img.getAttribute("datasrc")
                            img.setAttribute('loading', 'lazy loaded')

                        } else if (img.getAttribute('device') != null && img.getAttribute('device').match('desktop') && device == "desktop" && yImagPosition < yViewableArea) {
                            if (img.getAttribute("datasrc") != '')
                                img.src = img.getAttribute("datasrc")
                            img.setAttribute('loading', 'lazy loaded')

                        } else if (img.getAttribute('device') != null && img.getAttribute('device').match('tablet') && device == "tablet" && yImagPosition < yViewableArea) {
                            if (img.getAttribute("datasrc") != '')
                                img.src = img.getAttribute("datasrc")
                            img.setAttribute('loading', 'lazy loaded')

                        } else if (img.getAttribute('device') != null && img.getAttribute('device').match('mobile') && device == "mobile" && yImagPosition < yViewableArea) {
                            if (img.getAttribute("datasrc") != '')
                                img.src = img.getAttribute("datasrc")
                            img.setAttribute('loading', 'lazy loaded')

                        } else if (yImagPosition >= yViewableArea) {
                            throw BreakException;
                        }

                        dynamicHeight(img);


                    }
                } catch (e) {
                    if (e !== BreakException) throw e;
                }
            }
        }

        function dynamicHeight(img) {

            //if (img.parentElement != undefined && img.parentElement.parentElement != undefined &&
            //    img.parentElement.parentElement.parentElement != undefined && img.parentElement.parentElement.parentElement.parentElement != undefined &&
            //    img.parentElement.parentElement.parentElement.parentElement.getAttribute("class") != null &&
            //    img.parentElement.parentElement.parentElement.parentElement.getAttribute("class").startsWith('overview-container')) {

            //    if (window.innerWidth > 991) {

            //        var height = img.parentElement.nextElementSibling.offsetHeight > img.parentElement.offsetHeight ? img.parentElement.nextElementSibling.offsetHeight : img.parentElement.offsetHeight;
            //        img.parentElement.setAttribute('style','height:'+height+'px;')
            //        img.parentElement.nextElementSibling.setAttribute('style','height:'+height+'px;')
            //        img.setAttribute('style', 'height:'+height+'px;')
            //    }
            //    else {
            //        img.parentElement.setAttribute('style', img.parentElement.getAttribute('style') + 'height:auto;')
            //        img.parentElement.nextElementSibling.setAttribute('style', img.parentElement.nextElementSibling.getAttribute('style') + 'height:auto;')
            //        img.setAttribute('style', 'height:auto;')
            //    }

            //}
        }

        //window.addEventListener('DOMContentLoaded', function () {
        //    window.scrollBy(0, 1);
        //});
        function loadListeners() {

            window.addEventListener('resize', function() {
                ImageLazyload();
            });

            window.addEventListener('scroll', function() {
                yViewableArea = window.innerHeight + (window.scrollY != undefined ? window.scrollY : window.screenY);
                ImageLazyload();
                //setHeaderHight();
            });

            window.addEventListener('load', function() {
                ImageLazyload();
            });
        }

        loadListeners();
        //$(document).ready(function () {
        //    alert('test');
        //    ImageLazyload();
        //})
    </script>

    <link rel="preload" href="/Images/blank-image.png?la=en" as="image" />


    <!--Fonts for other then Australia-->
    <link rel="stylesheet" href="//fast.fonts.net/cssapi/d12edc21-ced2-4219-94d9-f1987474ceda.css?display=swap" />
    <link rel="stylesheet" href="//fast.fonts.net/cssapi/53fb3da4-bd03-40d5-9010-1fae680aed4b.css?display=swap" />
    <link rel="stylesheet" href="//fast.fonts.net/cssapi/64a0ca88-fff0-48dc-8e2e-9b11887c8207.css?display=swap" />

    <link rel="stylesheet" href="/Styles/Coolsculpting/FontReferenceStatic.css" />
    <link href="/-/media/allergan-themes/theme/common/bootstrapmin.css" rel="stylesheet" type="text/css" />
    <link href="/-/media/allergan-themes/theme/coolsculpting/custom/jquerybxslidermin.css" rel="stylesheet" type="text/css" />
    <link href="/-/media/allergan-themes/theme/coolsculpting/bundles/minify/MinifiedFile080822081145.css" rel="stylesheet" type="text/css" />
    <script defer type="text/javascript" src="/-/media/allergan-themes/script/common/jquery-214min.js"></script>
    <meta name="description" content="- CoolSculpting treatment clinic, based in &amp;&amp;. Book your consultation today to find out more about this fat reduction procedure.">
    <title> - CoolSculpting clinic -</title>
    <link rel="dns-prefetch" href="https://www.coolsculpting.co.th/individual-clinic">
    <link rel="preconnect" href="https://www.coolsculpting.co.th/individual-clinic">
    <link rel="canonical" href="https://www.coolsculpting.co.th/individual-clinic">

    <link rel="icon" href="/-/media/project/coolsculpting/page/favicon.ico" />
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var
                f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KSQJDHS');
    </script>



    <script>
        var siteDefaultLanguage = 'en';


        var supportLowercaseURL = false;

        var removeDefaultLanguage = 1;
        if (removeDefaultLanguage == 1) {
            removeDefaultLanguage = true;
        } else {
            removeDefaultLanguage = false;
        }
    </script>


    <!--Fonts for other then Australia-->
    <link rel="stylesheet" href="//fast.fonts.net/cssapi/d12edc21-ced2-4219-94d9-f1987474ceda.css?display=swap" />
    <link rel="stylesheet" href="//fast.fonts.net/cssapi/53fb3da4-bd03-40d5-9010-1fae680aed4b.css?display=swap" />
    <link rel="stylesheet" href="//fast.fonts.net/cssapi/64a0ca88-fff0-48dc-8e2e-9b11887c8207.css?display=swap" />

    <script defer rel="preload" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALkGGfcTisYYtZuo-kd-vY2mQ3oDUuWEQ&amp;channel=CoolSculpting-TH&amp;libraries=places"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/angular.min-1.8.2.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/angular-route.min-1.8.2.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/angular-cookies.min-1.8.2.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/angular-filter.js"></script>
    <script defer type="text/javascript" src="/-/media/allergan-themes/script/coolsculpting/bundles/minify/MinifiedFile151121152323.js"> </script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/bootstrap.min.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/modalVideo.min.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/mapsvg.min.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/mapfinder.js"></script>

    <script defer type="text/javascript" src="/Scripts/Coolsculpting/jquery.nicescroll.min.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/jquery.bxslider.min.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/player.js"></script>

    <script defer type="text/javascript" src="/Scripts/Coolsculpting/minified/Agn.Project.Coolsculpting.jquery.geocomplete.min.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/minified/Agn.Project.Coolsculpting.hcpform.min.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/geolocation-marker.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/jquery.cookie.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/player.js"></script>
    <script defer type="text/javascript" src="/Scripts/Coolsculpting/managecookie.js"></script>
</head>

<body class="en ThailandCoolsculpting" pagename="IndividualClinic" data-imglazyload="1" enablelanguagecodeupdate="True">
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KSQJDHS" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>


    <div id="settings-site" data-isEEditor="0">
        <div id="settings-geolocation" data-geolocationapi=https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyAltuYszRmFVsQ6SIQv6O7UYvITwc57dd0>
        </div>
        <div id="settings-countrycode" data-country=TH>
        </div>
        <div id="settings-countrycodefilter" data-countries="TH">
        </div>
        <div id="settings-countryname" data-countryname="Thailand">
        </div>
        <div id="settings-unbranded" data-unbranded="False">
        </div>
        <div id="settings-isgdpr" data-gdpr="False">
        </div>
        <div id="settings-isdistanceinkm" data-distanceinkm="False">
        </div>
        <div id="settings-isradius" data-radius="">
        </div>

        <div id="settings-SFGlobalcliniclocator" data-ICLApproach="1">
        </div>
        <div id="settings-ICLDistance" data-icldistancevalue="">
        </div>
        <div id="settings-ICLCountryCode" data-ICLCountryCodevalue="TH">
        </div>
        <div id="settings-ICLClustercountrycode" data-Clustercountrycodevalue="">
        </div>
        <div id="settings-ImageLazyload" data-ImageLazyload="1">
        </div>

    </div>

    <!--  Start Sitecore Jquery Issues Conflict -->
    <script>
        if (typeof jQuery != 'undefined' && jQuery.fn.jquery == "1.5.1") {
            jQuery.noConflict(true);
        }
    </script>
    <!--  End Sitecore Jquery Issues Conflict -->
    <div ng-app="allerganApp" class="ng-coolsculpting">
        <!--Start: Cookie Policy Section-->
        <section cookie class="ng-scope">



            <div class="modal fade" id="csmodelpopup">
                <div class="modal-dialog" role="dialog" tabindex="">
                    <div class="modal-content" role="document">

                        <div class="main container" style="height: auto;">
                            <div class="raw">
                                <div class="main-container" style="margin: auto; top: auto;">
                                    <div class="w-cover hcp-popup">

                                        <h1 class="m40">
                                        </h1>
                                        <div class="bottom-text">
                                        </div>
                                        <a class="btn-lnk m40" id=landinghcp-btn>
                                            <span class="cursor-md">
                                            </span>

                                        </a>

                                        <span class="cursor-md">

                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>
        <!--End: Cookie Policy Section-->
        <!--Start: Header Section-->

        <section header class="ng-scope">
            <header class="main-header clearfix " role="banner">
                <div class="header-inner">
                    <div class="header exp-editor">
                        <a href="/" class="logo ft-left"><img src="/Images/blank-image.png?la=en" dataheight="42" src="" onload="InitialImageload(this)" loading="lazy" device="desktop" datasrc="/-/media/project/coolsculpting/logo/logo-coolsculp-dt.png" alt="CoolSculpting-logo-coolsculp-dt" class="hidden-xs hidden-sm" /><img src="/Images/blank-image.png?la=en" dataheight="42" src="" onload="InitialImageload(this)" loading="lazy" device="tablet" datasrc="/-/media/project/coolsculpting/logo/logo-coolsculp-dt.png" alt="CoolSculpting-logo-coolsculp-dt" class="hidden-xs hidden-md hidden-lg" /><img src="/Images/blank-image.png?la=en" dataheight="42" src="" onload="InitialImageload(this)" loading="lazy" device="mobile" datasrc="/-/media/project/coolsculpting/logo/logo-coolsculp-dt.png" alt="CoolSculpting-logo-coolsculp-dt" class="hidden-sm hidden-md hidden-lg" /></a>


                        <a href="javascript:void(0);" aria-expanded="false" role="button" aria-label="toggle navigation" data-ng-class="{active: active}" data-ng-click="active =!active;menuToggled();" class="btn menu-btn ft-right">
                            <span class="sr-only">Navigation menu</span>
                            <div data-ng-hide="active" class="burger-menu ft-left">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <img src="/Images/blank-image.png?la=en" dataheight="24" src="" Class="close-toggle" onload="InitialImageload(this)" loading="lazy" device="all" datasrc="/-/media/project/coolsculpting/logo/close.png" data-ng-show="active" alt="CoolSculpting-close" />

                        </a>
                    </div>

                </div>
                <div class="nav-menu" role="navigation">
                    <ul class="ft-left main-nav order-2 nav-flexi " role="menubar">
                        <li class="list-container" role="menuitem">
                            <div class="overlay"></div>



                            <a href="/" Class="nav-title" aria-expanded="false" aria-haspopup="true">Home</a>
                            <a href="/" ng-click="navigateNxt($event);" Class="list-item first-item-menu">Home</a>
                        </li>
                        <li class="list-container" role="menuitem">
                            <div class="overlay"></div>



                            <a href="javascript:void(0);" Class="nav-title" aria-expanded="false" aria-haspopup="true">About CoolSculpting<sup>®</sup><img src="/-/media/project/coolsculpting/navigation/icon-drop-blue.png?h=24&amp;w=24&amp;la=en&amp;hash=6853546FFE0DE12DBC928159A0300A12C83945FC" alt="CoolSculpting-icon-drop-blue" /></a>
                            <a href="javascript:void(0);" ng-click="navigateNxt($event);" Class="list-item">About CoolSculpting<sup>®</sup></a>
                            <ul class="sub-menu dropdown-content">
                                <li>

                                    <a href="/what-is-coolsculpting" ng-click="navigateNxt($event);" Class="list-item">
                                        <!--inner Navigation Menu DisplayName-->
                                        What is CoolSculpting<sup>®</sup>?
                                    </a>
                                </li>
                                <li>

                                    <a href="/what-to-expect" ng-click="navigateNxt($event);" Class="list-item">
                                        <!--inner Navigation Menu DisplayName-->
                                        What to expect
                                    </a>
                                </li>
                                <li>

                                    <a href="/how-it-works" ng-click="navigateNxt($event);" Class="list-item">
                                        <!--inner Navigation Menu DisplayName-->
                                        How it works
                                    </a>
                                </li>
                                <li>

                                    <a href="/faq" ng-click="navigateNxt($event);" Class="list-item">
                                        <!--inner Navigation Menu DisplayName-->
                                        FAQs
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                    <ul class="lan-select order-3">
                        <li>
                            <a href="/" data-lancode="EN" Class="active"> <abbr title=English class="langtitle">
                                    EN
                                    <span class="sr-only">Click here to choose English language</span>
                                </abbr>
                            </a>
                            <span class="divider">/</span>

                        </li>
                        <li>
                            <a href="/th" data-lancode="TH"> <abbr title=Thailand class="langtitle">
                                    TH
                                    <span class="sr-only">Click here to choose Thailand language</span>
                                </abbr>
                            </a>

                        </li>
                    </ul>

                    <ul class="cta-group order-1 " role="menubar">
                        <li role="menuitem">
                            <a href="/find-a-clinic" onclick="dataLayer.push({'buttonLocation': 'Header','event': 'findProviderClicked'});" Class="btn cta"><img src="/Images/blank-image.png?la=en" dataheight="29" src="" onload="InitialImageload(this)" loading="lazy" device="all" datasrc="/-/media/project/coolsculpting/navigation/map-pin-blue.png" alt="CoolSculpting-map-pin-blue" /> <span>
                                    FIND A CLINIC
                                </span>
                                <img src="/-/media/project/coolsculpting/navigation/icon-drop.png?h=24&amp;w=24&amp;la=en&amp;hash=4E087C3BCE2F27D6593B70EEDE5EB75D6014D643" class="icon-nav" alt="CoolSculpting-icon-drop" /></a>
                        </li>
                    </ul>

                </div>
            </header>
            <div class="sticky-header "></div>
        </section>
        <!--End: Header Section-->
        <!--Layout Changes: Start-->
        <main>
            <section>

                <section clinic-search>
                    <div class="cs-result-view">
                        <div ng-show="loader" id="loadingDiv">


                            <img src="/-/media/project/coolsculpting/findclinic/Spinner16s150px Dark459d.gif?h=150&amp;w=150&amp;la=en&amp;hash=240ECF007253BE779D20A308A9FCCE00956DB308" Class="v-center" alt="CoolSculpting-Spinner16s150px Dark" />

                        </div>
                        <div class="clinic-wrapper-inner">
                            <div class="block-inner">
                                <div class="clinic-header txt-center">
                                    <h1 class="clinic-title" id="{{'clinic-name-' + $index+ 1}}">{{clinicRecord.name}}</h1>
                                </div>
                            </div>
                        </div>

                        <div class="cs-search-results clearfix ">
                            <div class="cs-info-wrapper">
                                <div class="col-xs-12">


                                </div>
                                <div class="col-xs-12 col-sm-6 cs-clinic-info" role="presentation">
                                    <div ng-if="clinicRecord.image" class="hidden-xs cs-physicain-img"><img src="{{clinicRecord.image}}" alt="physician image" /></div>
                                    <div class="clinic-description" role="presentation">
                                        <span class="cs-physician cs-info-item mar_bt10">{{clinicRecord.physician}}</span>
                                        <address class="cs-address cs-info-item mar_bt10">{{clinicRecord.address}}</address>
                                        <a ng-if="clinicRecord.phone" href="tel:{{clinicRecord.phone}}" class="mar_bt10 cs-info-item cs-phone" aria-describedby="{{'clinic-name-' + $index+ 1}}" onclick=dataLayer.push({&#39;clinicName&#39;:$(&#39;#clinic-name-1&#39;).html(),&#39;clinicAddress&#39;:$(&#39;.cs-address&#39;).first().text(),&#39;event&#39;:&#39;clinicClickToCall&#39;});>
                                            <span aria-hidden="true">T:</span>
                                            <span class="sr-only">telephone</span>{{clinicRecord.phone}}
                                            <span class="sr-only">Opens a dialog</span>
                                        </a>
                                        <a ng-if="clinicRecord.email" href="/cdn-cgi/l/email-protection#225959414e4b4c4b417047414d50460c474f434b4e5f5f" class="mar_bt10 cs-info-item cs-email" aria-describedby="{{'clinic-name-' + $index+ 1}}" onclick=dataLayer.push({&#39;clinicName&#39;:$(&#39;#clinic-name-1&#39;).html(),&#39;clinicAddress&#39;:$(&#39;.cs-address&#39;).first().text(),&#39;event&#39;:&#39;clinicClickToEmail&#39;});>
                                            <span class="sr-only">email</span>{{clinicRecord.email}}
                                            <span class="sr-only">Opens a mail dialog</span>
                                        </a>
                                    </div>
                                </div>
                                <div ng-if="clinicRecord.about" class="col-xs-12 col-sm-6 cs-clinic-about">
                                    <div class="cs-about-title">
                                        <p>About the practice</p>
                                    </div>
                                    <div class="cs-about-content">
                                        <p>{{clinicRecord.about}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 cs-result-footer" ng-class="{hidden: !clinicRecord.website}">
                                <a href="{{clinicRecord.website}}" target="_blank" class="ci-website" ng-if="clinicRecord.website !== ''" ng-click="openWebsite($event)" aria-describedby="{{'clinic-name-' + $index+ 1}}" onclick=dataLayer.push({&#39;clinicName&#39;:$(&#39;#clinic-name-1&#39;).html(),&#39;clinicAddress&#39;:$(&#39;.cs-address&#39;).first().text(),&#39;event&#39;:&#39;clinicVisitWebsite&#39;});>
                                    Visit Website
                                    <span class="sr-only">opens in new window {{clinicRecord.name}}</span>

                                    <img src="/-/media/project/coolsculpting/findclinic/chevron-right_bl0634.svg?h=24&amp;w=24&amp;la=en&amp;hash=56A6460AD13B4B2EA09111E3EEC87DBAAA4254CE" Class="" alt="CoolSculpting-chevron-right_bl" /> </a>
                            </div>
                        </div>
                        <div id="clinicMarkerView"></div>
                        <div class="txt-center all-clinics-wrapper" data-nav="clinics-list">
                            <a href="javascript:void(0);" ng-click="showallClinics();" class="allclinics-lnk" onclick="">
                                <span class="">See all clinics List</span>
                                <img src="/-/media/project/coolsculpting/findclinic/chevron-right_bl0634.svg?h=24&amp;w=24&amp;la=en&amp;hash=56A6460AD13B4B2EA09111E3EEC87DBAAA4254CE" Class="" alt="CoolSculpting-chevron-right_bl" /> </a>
                        </div>


                        <div class="hidden">
                            <div id="markerIcon" data-src="/-/media/project/coolsculpting/findclinic/marker-icon.png"></div>
                            <div id="markerImage" data-src="/-/media/project/coolsculpting/findclinic/pin-marked.png"></div>
                            <div id="Apigeolocationerr">API GEOLOCATION ERROR!</div>
                            <div id="searchErr">PLEASE ENTER VALID CITY OR ZIP CODE</div>

                            if (Model.showtranslatedday)
                            {
                            <div id="translatedday" data-showtranslatedday="" data-Transday0="" data-Transday1="" data-Transday2="" data-Transday3="" data-Transday4="" data-Transday5="" data-Transday6=""></div>
                            }
                        </div>

                        <div class="modal fade" id="errorModal" role="dialog" style="display: none;">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                        <h4 class="modal-title">Error</h4>
                                    </div>
                                    <div class="modal-body body-style1">PLEASE ENTER VALID CITY OR ZIP CODE</div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script type="text/javascript">
                    document.addEventListener('readystatechange', function() {
                        if (document.readyState === 'complete') {
                            jQuery(document).ready(function() {
                                var clinicName = "";
                                var title = "";
                                var descr = " ";
                                var Mdescr = " ";
                                var sdescr = " ";
                                var key = "SearchTerm=";
                                if (supportLowercaseURL) {
                                    key = "searchterm=";
                                }
                                var cityName = window.location.href.slice(window.location.href.indexOf(key)).split('&')[0].split('=')[1];
                                var interval = setInterval(function() {
                                    var cname = document.getElementById('clinic-name-1').innerText
                                    if (cname.length > 0) {
                                        clearInterval(interval);
                                        getClinicName();
                                    }
                                }, 1000)

                                function getClinicName() {
                                    clinicName = document.getElementById('clinic-name-1').innerText;
                                    cityName = decodeURIComponent(cityName);
                                    var cityURI = cityName.replace(/[+]/g, '');

                                    if ($("#settings-countrycode").data("country").toLowerCase().trim() == "mea" || $("#settings-countrycode").data("country").toLowerCase().trim() == "ca") {
                                        var cityFrom_cityURI = cityURI.split(",")[cityURI.split(",").length - 1].trim();
                                        var cityFrom_DocTitle = document.title.split(",")[document.title.split(",").length - 1].trim();
                                        if (cityFrom_cityURI == cityFrom_DocTitle) {
                                            cityURI = cityURI.replace("," + cityFrom_DocTitle, "");
                                            title = document.title;
                                            document.title = clinicName + title.replace("$$", cityURI);
                                            sdescr = $("meta[name='description']").attr("content");
                                            $("meta[name='description']").attr("content", clinicName + sdescr.replace("$$", cityURI));
                                        } else {
                                            title = document.title;
                                            document.title = clinicName + title.replace("$$", cityURI);
                                            sdescr = $("meta[name='description']").attr("content");
                                            $("meta[name='description']").attr("content", clinicName + sdescr.replace("$$", cityURI));
                                        }
                                    } else {
                                        document.title = clinicName + " -  CoolSculpting clinic -" + cityURI;
                                        Mdescr = "- CoolSculpting treatment clinic, based in &&. Book your consultation today to find out more about this fat reduction procedure.";

                                        if (Mdescr.includes("&&")) {
                                            Sdescr = Mdescr.split("&&");
                                            descr = "[" + clinicName + "]" + Sdescr[0] + "[" + cityURI + "]" + Sdescr[1];
                                            $("meta[name='description']").attr("content", descr);
                                        } else {
                                            descr = "[" + clinicName + "]" + Mdescr;
                                            $("meta[name='description']").attr("content", descr);
                                        }
                                    }
                                }
                            });
                        }
                    });
                </script>

                <section links class="ng-scope">
                    <div class="link-container">
                        <ul class="block-inner">

                        </ul>
                    </div>
                </section>
            </section>


        </main>

        <!--Start: Country Selection-->
        <section country-selection class="ng-scope">

        </section>
        <!--End: Country Selection-->
        <!-------------------------------------------------------------------------------------->
        <!--Start: Footer Section-->
        <section footer class="ng-scope">
            <footer class="footer-section" role="contentinfo">
                <div class="clinic-loc">
                    <div class="block-inner">
                        <!--Skip find a clinic for mea region sites non-veeva clinic-->


                        <form class="form-inline ng-pristine ng-valid">

                            <label for="footerSearch" class="label-clinic">Find a clinic</label>
                            <div class="input-group" role="search">
                                <input type="text" id="footerSearch" data-nav="findaclinic" ng-keypress="searchftrClinic($event);" class="find-clinic-input form-control search-loc" placeholder="Enter city or postcode
" autocomplete="off">

                                <a href="/find-a-clinic" class="map-pin-container pin-nav" target="_blank" role="button" ng-click="footerLocSearch($event);"><img src="/-/media/project/coolsculpting/findclinic/icon-searchcfd3.png?h=24&amp;w=24&amp;la=en&amp;hash=86EFFC319EDF55A6C999D1CFE88D95045B851D64" class="v-center" alt="CoolSculpting-icon-search" /></a>

                            </div>


                            <div class="hidden">
                                <div id="Apigeolocationerr">API GEOLOCATION ERROR!</div>
                            </div>
                            <div class="modal fade" id="footerErrorModal" role="dialog" style="display: none;">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content" style="text-align: left;">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <h4 class="modal-title">Error</h4>
                                        </div>
                                        <div class="modal-body body-style1">PLEASE ENTER VALID CITY OR ZIP CODE</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </form>


                    </div>
                </div>
                <div class="footer-inner clearfix">
                    <div class="block-inner">
                        <div class="footer-sec2">
                            <a href="/" class="ws-logo"><img src="/Images/blank-image.png?la=en" dataheight="0" src="" onload="InitialImageload(this)" loading="lazy" device="all" datasrc="/-/media/project/coolsculpting/logo/Coolsculpting_logo_new.svg" alt="CoolSculpting-Coolsculpting_logo_new" /></a>
                            <ul class="social-icons">
                            </ul>
                            <a href="https://www.allergan.com/" class="ws-logo" target="_blank"><img src="/Images/blank-image.png?la=en" dataheight="42" src="" onload="InitialImageload(this)" loading="lazy" device="all" datasrc="/-/media/project/coolsculpting/homepage/webp/AllerganAesthetics_logo_black.png" alt="" /> <span class="sr-only"></span>
                            </a>
                            <p class="footer-logo-info">
                                <style>
                                    .footer-section .footer-inner.unbranded-footer .footer-sec2 {
                                        display: block !important;
                                    }
                                </style>
                            </p>

                        </div>
                        <div class="footer-sec1">
                            <div class="sec-inner section-links">
                                <ul class="footer-links">
                                    <li>
                                        <a href="https://privacy.abbvie/privacy-policies/thailand-en-privacy-notice.html" Class="icon-link" aria-label="Privacy Policy" target="_blank">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="https://www.abbvie.com/terms-of-use.html" Class="icon-link" aria-label="Terms and Conditions" target="_blank">T&C's</a>
                                    </li>
                                    <li>
                                        <a href="/disclaimers" aria-label="Disclaimers" Class="icon-link">Disclaimers</a>
                                    </li>
                                    <li>
                                        <a href="/sitemap" aria-label="Site map" Class="icon-link">Site map</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="ot-sdk-show-settings" Class="icon-link" aria-label="" title="Overridden by OneTrust">Cookies Settings</a>
                                    </li>
                                </ul>
                            </div>


                            <div class="sec-inner country-select clearfix">
                                <ul class="social-icons">
                                </ul>

                                <p class="info-text">This site is intended for Thailand audience only.</p>

                            </div>
                        </div>

                        <div class="ism-footer-note col-md-12 col-sm-12 col-xs-12">
                            <div class="row">

                                <div class="col-xs-12 col-sm-12 hidden-md hidden-lg footer-zinc info-extra">
                                    <div class="row">
                                        <p>TH 1173/2563 <br /> Date of preparation: September 2020</p>
                                    </div>
                                </div>

                                <div class="col-md-10 col-sm-12 col-xs-12 footer-text info-extra">
                                    <p>Notice the warnings on the label and accompanying documents before use.
                                        Allergan (Thailand) Limited<br />
                                        973 President Tower, 8th and 11st Floors, Room No.8E and 11K<br />
                                        Ploenchit Road, Lumpini, Pathumwan, Banngkok <br />
                                        10330 Tel. 02 640 4999<br /></p>
                                </div>

                                <div class="col-md-2 hidden-sm hidden-xs footer-zinc info-extra">
                                    <p>TH 1173/2563 <br /> Date of preparation: September 2020</p>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </footer>
        </section>
        <!--End: Footer Section-->


    </div>

    <!-- Start PWA Section of Google Light house -->
    <!-- END PWA Section of Google Light house -->
    <input name="__RequestVerificationToken" type="hidden" value="8VocU00DpWwgpm-kVPLfEkXMHHn6VrTOpXS0y21zT4ptvyUCALutYAZcuLJqQFRlrac3Vbxk87kaRvekRYtfr1wUH3IkCJPpUqw3Qw3ij_g1" />

</html>